.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;
  transition: .25s;

  font-family: inherit;
}

.btn:hover{
  transform: translateY(-1px);
}

.btn:active{
  transform: scale(.98);
}

.btn-primary{
  background:#2563EB;
  color:white;
}

.btn-primary:hover{
  background:#1D4ED8;
}

.btn-secondary{
  background:#E5E7EB;
  color:#111827;
}

.btn-secondary:hover{
  background:#D1D5DB;
}

.btn-danger{
  background:#EF4444;
  color:white;
}

.btn-danger:hover{
  background:#DC2626;
}

.btn-success{
  background:#22C55E;
  color:white;
}

.btn-success:hover{
  background:#16A34A;
}

.btn-sm{
  padding:8px 14px;
  font-size:14px;
}

.btn-md{
  padding:10px 18px;
  font-size:15px;
}

.btn-lg{
  padding:14px 24px;
  font-size:16px;
}

.btn:disabled{
  opacity:.6;
  cursor:not-allowed;
}

.btn-icon{
  display:flex;
}